.form-label,
.form-control {
  font-size: 16px;
  font-family: "Trebuchet MS", sans-serif;
  padding-top: 5px;
}

.form-header {
  margin-top: 60px;
  margin-bottom: 50px;
  font-family: "Trebuchet MS", sans-serif;
  color: white;
}

.register-header-div {
  /* align center */
  align-content: center;
  text-align: center;
  margin-bottom: 50px;
  color: white;
}

.auth-main-div {
  align-content: center;
  text-align: center;
  margin-bottom: 50px;
  color: white;
}

.register-div {
  max-width: 450px;
  padding-left: 48px;
  padding-right: 48px;
  padding-bottom: 10px;
  padding-top: 2px;
  background: rgb(245, 253, 255);
  border-radius: 10px;
  background: #4079a5;
  box-shadow: -5px 10px 2px;
}

.form-text {
  color: #C5E898;
  font-size: 25px;
  font-family: "Trebuchet MS", sans-serif;
}


.register-button {
  margin-top: 40px;
  margin-left: 130px;
  margin-bottom: 40px;
  font-size: 25px;
  background: #C5E898;
  color: #363062;
}

.login-button {
  margin-top: 40px;
  margin-left: 140px;
  margin-bottom: 40px;
  font-size: 25px;
  background: #C5E898;
  color: #363062;
}

.register-button:hover {
  background: #363062;
  color: #C5E898;
}
.login-button:hover {
  background: #363062;
  color: #C5E898;
}

.header-div {
  background: #219c90;
  padding: 10px;
  margin-bottom: 60px;
}

.header-title {
  color: white;
  font-size: 25px;
  font-family: "Trebuchet MS", sans-serif;
  margin-left: 20px;
}

.header-container {
  min-width: 100%;
}

.header-auth-button {
  margin-top: 7px;
  margin-right: 20px;
  float: right;
  font-size: 17px;
  font-weight: 500;
  color: rgb(26, 95, 136);
  background: #ee9222;
  padding: 8px 15px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  transition: background 0.3s, color 0.3s;

 
}

.header-auth-button:hover {
  background: #ffd79c;
  color: rgba(71, 43, 43, 0.616);
}


.arrow {
  color: rgb(0, 0, 31);
}

.arrow:hover {
  color: rgb(18, 18, 190);
}

.trash {
  color: rgb(0, 0, 0);
}

.trash:hover {
  color: rgb(236, 0, 0);
}

.status-icon {
  color: rgb(0, 0, 0);
}

.status-icon:hover {
  color: rgb(0, 0, 255);
}

.backdrop {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5); /* Adjust the opacity to control the blur effect */
  backdrop-filter: blur(5px); /* Adjust the blur amount as needed */
  z-index: 999;
  display: flex;
  align-items: center;
  justify-content: center;
}

.custom-body {
  /* background-color:antiquewhite; */
  /* Add other styles as needed */
}

.new-task-button {
  margin-top: -30px;
  margin-left: 20px;
  padding: 10px 20px;
  border-radius: 8px;
  font-size: 1.2rem;
  text-align: center;
}

.bi-plus-circle-fill {
  font-size: 1.5rem;
}
